{% extends "base.html" %}
{% block title %}Editar Usuario{% endblock %}

{% block content %}
<h2>Editar Usuario Nro.{{ usuario.id }}</h2>
<form action="/usuarios/actualizar" method="POST" class="doc-sheet mt-3">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="{{ usuario.nombre }}" required>
        <input type="hidden" id="id" name="id" value="{{ usuario.id }}">
    </div>
    <div class="mb-3">
        <label for="apellido" class="form-label">Apellido:</label>
        <input type="text" class="form-control" id="apellido" name="apellido" value="{{usuario.apellido}}" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail:</label>
        <input type="email" class="form-control" id="email" name="email" value="{{usuario.email}}" required>
    </div>
    
    <button type="submit" class="btn btn-sm btn-primary">Actualizar Usuario</button>
    <a href="/usuarios" class="btn btn-sm btn-secondary">Cancelar</a>
</form>
{% endblock %}
