{% extends "base.html" %}
{% block title %}Todos los usuarios{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-between mb-3">
    <h3>Usuarios</h3>
    <a href="/usuarios/nuevo" class="btn btn-sm btn-primary">Nuevo usuario</a>
</div>

<div class="table-responsive row gap-1">
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre completo</th>
                <th>E-mail</th>
                <th>Fecha Creación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if lista_usuarios and lista_usuarios|length > 0 %}
            {% for un_usuario in lista_usuarios %}
                <tr>
                    <td >{{ un_usuario.id }}</td>
                    <td >{{ un_usuario.nombre }} {{ un_usuario.apellido }}</td>
                    <td>{{ un_usuario.email }}</td>
                    <td>{{ un_usuario.created_at.strftime('%d-%m-%y') }}</td>
                    <td>{{ un_usuario.acciones}}
                        <div class="botones">
                            <a href="/usuarios/ver/{{ un_usuario.id }}" class="btn-sm btn-secondary me-3 p-4">Ver </a>
                            <a href="/usuarios/editar/{{ un_usuario.id }}" class="btn-sm btn-secondary me-4">Editar</a>
                            <a href="/usuarios/eliminar/{{ un_usuario.id }}" class="text-danger" 
                            onclick="return confirm('¿Estás seguro de que quieres eliminar este usuario?')">Eliminar</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6" class="text-center text-muted">No hay usuarios registrados aún.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}
